.adminManageBooks{
    border: 5px solid gray;
    border-radius: 20px;
    width: 400px;
    float: left;
    margin: 50px;
    text-align: center;
    justify-content: center;

    background-color: cyan;
    padding: 10px;
}

.adminManageBooks img{
    width: 350px;
    height: 350px;
}
.adminManageBooks button{
    margin-left: 120px;
    background-color: darkgoldenrod;
}